@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html{
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    overflow-x: hidden;
}

html, body, #__nuxt{
    min-height: 100vh;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    background-attachment: fixed; 
    color: #ffffff;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track{
    background: linear-gradient(0deg, #000 0%, #63e 100%);
}

::-webkit-scrollbar-thumb{
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;
    border-radius: 10px;
}
