@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html{
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    overflow-x: hidden;
}

html, body, #__nuxt{
    min-height: 100vh;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    background-attachment: fixed; 
    color: #ffffff;
    margin: 0;
    padding: 0;
}

